.main-container {
  font-family: 'Inter', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: clamp(3rem, 3vw, 2rem);
  text-align: center;
  font-weight: 400;
  position : relative
}

.yellow::before {
  position : absolute;
  top : -2%;
  bottom : 0 ;
  left : -2% ; 
  right : 0 ;
  width: 30%;
  height: 110%;
  content : '';
  background-color: #f9dc4d;
  z-index: -1;
}

.blue::before {
  position : absolute;
  top : -2%;
  bottom : 0 ;
  left : -20% ; 
  right : 0 ;
  width: 90%;
  height: 100%;
  content : '';
  background-color: #1e6ceac8;
  z-index: -1;
}

.red::before {
  position : absolute;
  top : -2%;
  bottom : 0 ;
  left : -2% ; 
  right : 0 ;
  width: 30%;
  height: 110%;
  content : '';
  background-color: #d20d24ad;
  z-index: -1;
}


.normalText {
  font-size: clamp(1.5rem, 3vw, 2rem);
  text-align: center;
  font-weight: 400;
  position : relative;
  margin-top: 2rem;
}

.thin {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  font-weight: 200;
  text-align: center;
  padding : 0 1rem ; 
}

footer  {
  position: absolute;
  bottom : 20px;
  right : 20px ;
  font-weight: 700;
}

footer a {
  text-decoration: none;
  color : black; 
}

@media only screen and (max-width: 700px) {
  .yellow::before{
    left : 5% ;
  }
  .normalText {
    margin-top: 3rem;
  }
}


